
@model WebApplication1.Models.LoginInfo
@{
    ViewBag.Title = "Login";

}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="Row ">
        <div class=" col-md-6">
            <h3>Success!</h3>
            <p>Please fill in this form to login.</p>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>


                <input type="submit" value="Submit">
            </div>
        </div>
    </div>


}
@if (ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}






